USE [DotNetProject]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/13/2019 9:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_username] [nvarchar](30) NOT NULL,
	[admin_password] [nvarchar](50) NOT NULL,
	[admin_email] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Channel]    Script Date: 5/13/2019 9:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channel](
	[ch_id] [int] IDENTITY(1,1) NOT NULL,
	[ch_name] [nvarchar](30) NOT NULL,
	[source] [nvarchar](100) NOT NULL,
	[location] [nvarchar](30) NOT NULL,
	[icon] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 5/13/2019 9:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscript]    Script Date: 5/13/2019 9:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscript](
	[ClientId] [int] NOT NULL,
	[ch_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 5/13/2019 9:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [admin_username], [admin_password], [admin_email]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70', N'admin@gmail.com')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Channel] ON 

SET IDENTITY_INSERT [dbo].[Channel] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientId], [UserName], [Password], [Email], [Type]) VALUES (1, N'free user', N'202cb962ac59075b964b07152d234b70', N'free@gmail.com', N'free')
INSERT [dbo].[Client] ([ClientId], [UserName], [Password], [Email], [Type]) VALUES (8, N'yangyang', N'202cb962ac59075b964b07152d234b70', N'free1@gmail.com', N'free')
INSERT [dbo].[Client] ([ClientId], [UserName], [Password], [Email], [Type]) VALUES (9, N'1', N'202cb962ac59075b964b07152d234b70', N'free3@gmail.com', N'free')
SET IDENTITY_INSERT [dbo].[Client] OFF
INSERT [dbo].[Subscript] ([ClientId], [ch_id]) VALUES (16, 11)
INSERT [dbo].[Subscript] ([ClientId], [ch_id]) VALUES (13, 11)
INSERT [dbo].[Subscript] ([ClientId], [ch_id]) VALUES (12, 16)
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 5/13/2019 9:00:57 AM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Subscript]  WITH CHECK ADD  CONSTRAINT [FK_Subscript_ToChannel] FOREIGN KEY([ch_id])
REFERENCES [dbo].[Channel] ([ch_id])
GO
ALTER TABLE [dbo].[Subscript] CHECK CONSTRAINT [FK_Subscript_ToChannel]
GO
ALTER TABLE [dbo].[Subscript]  WITH CHECK ADD  CONSTRAINT [FK_Subscript_ToClient] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Subscript] CHECK CONSTRAINT [FK_Subscript_ToClient]
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
